In [15]:
import pymongo
import pandas as pd

In [2]:
mc = pymongo.MongoClient()

In [3]:
db = mc['gexit']

In [4]:
jobs = db['jobs']

In [8]:
job = {'employer':'Google',
      'title':'data scientist',
       'contacts':[{'Name':'Brendan', 'Title': 'data scientist'}]
      }

In [9]:
jobs.insert_one(job)

In [12]:
jobs.find()

In [13]:
list(_)

[{'_id': ObjectId('5af0b34b86b13607a55156d9'),
  'contacts': [{'Name': 'Brendan', 'Title': 'data scientist'}],
  'employer': 'Google',
  'title': 'data scientist'}]

In [16]:
pd.DataFrame(_)

,_id,contacts,employer,title
0,5af0b34b86b13607a55156d9,"[{'Name': 'Brendan', 'Title': 'data scientist'}]",Google,data scientist

In [18]:
jobs.delete_many({'title':None})

In [19]:
list(jobs.find())

[{'_id': ObjectId('5af0b34b86b13607a55156d9'),
  'contacts': [{'Name': 'Brendan', 'Title': 'data scientist'}],
  'employer': 'Google',
  'title': 'data scientist'}]

In [23]:
jobs.update_one({'employer':'Facebook'},{'$push': {'contacts':{'Name':'Emily',
                                                             'Title': 'data'}}})

In [24]:
list(jobs.find())

[{'_id': ObjectId('5af0b34b86b13607a55156d9'),
  'contacts': [{'Name': 'Brendan', 'Title': 'data scientist'}],
  'employer': 'Google',
  'title': 'data scientist'}]

In [26]:
list(jobs.find({'title':{'$exists': False}}))

[]

In [28]:
for job in jobs.find():
    jobs.update({'_id': job['_id']},
                {'$set': {'employer':' The ' + job['employer']}})

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [29]:
list(jobs.find())

[{'_id': ObjectId('5af0b34b86b13607a55156d9'),
  'contacts': [{'Name': 'Brendan', 'Title': 'data scientist'}],
  'employer': ' The Google',
  'title': 'data scientist'}]